.product-box {
    display: inline-block;
    width: 200px;
    height: 300px;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: outline 0.3s;
}
 
.product-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
 
.product-box:hover {
    outline: 3px solid #000;
    outline-offset: 5px;
}
 